body {
  font-style: normal;
  line-height: 1.25;
  background-color: #999966;
}

h1, h2, h3 {
  font-style: monospace;
  color: #8B4513;
}

h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-left: 40px;
}

table {
  margin: 0 auto;
  border-collapse:separate;
  border-spacing: 0;
}

td, th {
  color: #8B4513;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th {
  text-align: center;
  background: linear-gradient(#829E64,#66995B);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td {
  text-align: center;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #669966 inset;
  width: 25%;
  padding: 10px 0;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

li {
  line-height: 35px;
  color: #8B4513;
}
